<main>
    <header>
         
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Catalog</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
            </ul>
             <div class="guitar">
                <i class="fa-solid fa-guitar"></i>
             </div>
            
            <div class="registericon">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button>
                    <i class="fa-solid fa-user"></i>
                </button>
                <button>
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
             </div>
         
    </header>
     <section class="updateproductlist">
        <div>
       <h1>NEW <span>COLLECTION</span></h1>
        <button>
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        </div>
     </section>

     <section class="popularproducts">
          <h2>Most Popular</h2>
          <hr>
          
          
        <div id="toplist">
           <div class="container-fluid" >
             <div class="row">
                <div class="col-md-2 mt-3">
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="card-img-actions">
                                <img src="https://rukminim2.flixcart.com/image/416/416/kr9jafk0/acoustic-guitar/d/0/x/kad-blk-eq-c-kadence-original-imag536fc4d8uq27.jpeg?q=70&crop=false" class="card-image img-fluid" alt="">
                            </div>
                        </div> 



                        <div class="card-body bg-light text-center ">
                            <div>
                                <h6>
                                    <a class="text-default" href=""> Acoustic Guitar Spruce Rosewood Right Hand Orientation  (Black)</a>
                                </h6>
                            </div>
                             <h3 class="mb-0 font-weight-semibold">$500</h3>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                              <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                        </div>
                    </div>
                </div>
             </div>


          </div>



          <!-- <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/acoustic-guitar/b/3/n/-original-imagxggfcy9xzmuk.jpeg?q=70" class="card-image img-fluid" alt="">
                           </div>
                       </div> 



                       <div class="card-body bg-light text-center ">
                           <div>
                               <h6>
                                   <a class="text-default" href=""> Acoustic Guitar Linden  Rosewood Right Hand Orientation (Brown)</a>
                               </h6>
                           </div>
                            <h3 class="mb-0 font-weight-semibold">$700</h3>
                            <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                       </div>
                   </div>
               </div>
            </div>


         </div>


         <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/acoustic-guitar/z/n/t/acoustica-series-41-acoustic-guitar-solid-wood-a1001-with-original-imagkrhbapukm54u.jpeg?q=70" class="card-image img-fluid" alt="">
                           </div>
                       </div> 



                       <div class="card-body bg-light text-center ">
                           <div>
                               <h6>
                                   <a class="text-default" href=""> Acoustic Guitar Solid Wood Ash Series 41  (Brown)</a>
                               </h6>
                           </div>
                            <h3 class="mb-0 font-weight-semibold">$1000</h3>
                            <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                       </div>
                   </div>
               </div>
            </div>


         </div>

         <div class="container-fluid" >
            <div class="row">
               <div class="col-md-2 mt-3">
                   <div class="card mt-2">
                       <div class="card-body">
                           <div class="card-img-actions">
                               <img src="https://rukminim2.flixcart.com/image/612/612/kr58yvk0/acoustic-guitar/3/5/t/kad-fntr-blu-sc-kadence-original-imag4zu9vsxz7k7g.jpeg?q=70" class="card-image img-fluid" alt="">
                           </div>
                       </div> 



                       <div class="card-body bg-light text-center ">
                           <div>
                               <h6>
                                   <a class="text-default" href=""> (Guitar Frontier Series)Acoustic Guitar Spruce Spruce  (Blue)</a>
                               </h6>
                           </div>
                            <h3 class="mb-0 font-weight-semibold">$950</h3>
                            <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-solid fa-info mr-2"></i> view details</button>
                             <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                       </div>
                   </div>
               </div>
            </div>


         </div> -->


        </div>

        </section>
    
    </main>

    