<footer>
    <div>
       <h3>
        Brand 
        <hr>
       </h3>
       <ul>
        <li>
          <a href="">Fender</a>
        </li>
        <li>
           <a href="">Gibson</a>
        </li>
        <li>
          <a href="">Jockson</a>
        </li>
        <li>
            <a href="">Ibanez</a>
        </li>
       </ul>
    </div>
    <div>
       <h3>
        Information
        <hr>
       </h3>
       <ul>
        <li>
           <a href="">Blog</a>
        </li>
        <li>
           <a href="">Delivery</a>
        </li>
        <li>
           <a href="">About Us</a>
        </li>
        
       </ul>
    </div>
    <div>
       <h3>
        Contact
        <hr>
       </h3>
        <div class="icons">
            <a href="">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
           
        </div>
    </div>
</footer>
